
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: white;
  background: #102440;
}
section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 100px 20vw;
}

form {
  background: #102440;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 50px;
  margin-top: 15%;
}

form h1 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
  align-self: center;
}

form input, form textarea {
  font-family: 'Open Sans', sans-serif;
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background-color: aliceblue;
  font-size: 16px;
}

form button {
  padding: 15px;
  background: #baa5d9;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  align-self: center;
  margin: 20px auto 0;
  border-radius: 30px;
}

.pink {
  background-color: #a64968;
}

.lilac {
  background-color: #baa5d9;
}

.darkblue {
  background-color: #122a5c;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(103% + 1.3px);
  height: 203px;
}

.wave .shape-fill {
  fill: #102440;
}

.wave2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 144px;
}

.wave2 .shape-fill {
  fill: #102440;
}

a:link {
  color: #baa5d9;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color:#baa5d9;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.contact {
  width: 100%;
  background: transparent;
  display: flex;
  align-items:center;
  justify-content: center;
}
